# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Aa]rm/
[Aa]rm64/
bbin/
obj/
[Ll]og/
[尝]testresults/
[尝]buildresults/

# .NET Core
project.lock.json
project.fragment.lock.json
artifacts/

# SQLite database
*.db
*.db-shm
*.db-wal

# Publish output
publish/

# Others
.vs/
.vscode/
bin/
obj/
